<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Tyler Moon's Resume</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
  </head>
  <body>
    <div id="bgImg" style="background:url(/assets/images/moon-bg.png);background-repeat:no-repeat;background-position:center top;">
      <!--
      <div id="header">
        <nav>
          <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </nav>
      </div>--><!-- end header -->
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>Tyler Moon</h1>
          <p>A simple landing page / resume website for Tyler Moon</p>
          <div class="contactInfo" style="font-size:12px">
            <p style="font-size:12px; margin-top:0px; margin-bottom:0px"><strong>Address:</strong> 215 Spencer Pl Apt. 512A, Cayce, SC 29033&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Phone Number:</strong> 803-792-2216 </p>
            <p style="font-size:12px; margin-top:0px;"><strong>Email:</strong> moon.tyler@gmail.com &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>GitHub:</strong> https://github.com/tmoon8730</p>
          </div>
          <hr>
        </div>
        {{ content }}
      </section>
    </div>

  </body>
  <footer>
    &copy; 2017 Tyler Moon
  </footer>
</html>
